@import "nullstyle.scss";
/* подключение_нулевых стилей */

/* Шрифты */

@font-face {
    font-family: 'Akronim';
    src        : url(../fonts/Akronim/Akronim-Regular.ttf);
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koulen:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Mega:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koulen:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Oxygen:wght@700&display=swap");
/* Шрифты_конец */


///* Шаблоны *///

$maxWidth    :1340;
$maxWidthMake:1920;

@mixin adapt-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        #{$property}:#{$startSize + px};

        @media (max-width:#{$maxWidth + px}) {
            #{$property}:calc(#{$minSize + px} + (#{$addSize} * ((100vw - 280px) / #{$maxWidth - 280})));
        }
    }

    @else if $type==2 {
        #{$property}:#{$startSize + px};

        @media (min-width:#{$maxWidth + px}) {
            #{$property}:calc(#{$minSize + px} + (#{$addSize} * ((100vw - 280px) / #{$maxWidthMake - 280})));
        }
    }

    @else {
        #{$property}:calc(#{$minSize + px} + (#{$addSize} * ((100vw - 280px) / #{$maxWidthMake - 280})));

    }
}

//@include adaptiv-font(44, 12);///

/* Шаблоны */
body {
    min-width  : 280px;
    font-family: "Lexend Mega", "Helvetica Neue", Helvetica, sans-serif;
}

body._close {
    overflow: hidden;
}

html {
    font-size: 20px;
}

////usuallys
.container {
    margin   : 0 auto;
    padding  : 0 20px;
    max-width: calc(#{$maxWidth * 1px} + 40px);
}

.wrapper {
    width         : 100%;
    overflow      : hidden;
    display       : flex;
    min-height    : 100vh;
    flex-direction: column;
}

.greeenco {
    overflow        : hidden;
    position        : relative;
    min-height      : 100vh;
    background-color: #F4F4F4;
    display         : flex;
    align-items     : center;
}

.greeenco._active .greeenco__title {
    transform: scale(1);

}



.greeenco._active .greeenco__plant {
    /* transform: translateX(-50%);*/
    bottom: 0%;


}

.greeenco__container {
    flex           : 1 0 100%;
    flex-direction : column;
    display        : flex;
    justify-content: center;

}

/* @media (max-width:1800px) {
    .potted-item__swiper.greeenco__container {
width: 100%;

    }
 
} */

.greeenco__body {}

.greeenco__header {
    position   : absolute;
    display    : flex;
    align-items: center;
    @include adapt-value("padding-top", 72, 20, 0);
    @include adapt-value("padding-bottom", 72, 20, 0);

    top  : 0;
    left : 0;
    width: 100%;
    @include adapt-value("min-height", 70, 50, 2);

}

.menu {


    flex: 1;
}

.menu__container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}


.menu__burger {
    cursor         : pointer;
    position       : relative;
    width          : 38px;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    left           : -10%;
    transition     : 0.4s 0.6s;
    opacity        : 0;
}

.greeenco._active .menu__burger {
    opacity: 1;
    left   : 0%;
}




.menu__burger span {
    display         : inline-block;
    width           : 7px;
    height          : 7px;
    border-radius   : 50%;
    background-color: #B7BBB2;
    margin          : 2.5px;
}

.menu__home {
    cursor    : pointer;
    right     : -20%;
    position  : relative;
    transition: 0.4s 0.6s;
    opacity   : 0;
}

.greeenco._active .menu__home {
    opacity: 1;
    right  : 0%;
}

.greeenco__title {
    text-transform: uppercase;
    color         : #7A797A;
    font-family   : "Baloo 2", "Helvetica Neue", Helvetica, sans-serif;
    font-weight   : 800;
    @include adapt-value("font-size", 260, 50, 0);
    position   : relative;
    text-align : center;
    line-height: 1;
    opacity    : 0.5;
    z-index    : 0;
    transform  : scale(0);
    transition : 0.5s 0.1s;
}

.greeenco__title::before {
    content  : "Nature’s souvenir store";
    position : absolute;
    top      : 75%;
    opacity  : 0;
    transform: translate();
    @include adapt-value(" font-size ", 48, 30, 0);
    color         : #000000;
    text-transform: capitalize;
    font-weight   : 400;
    transition    : 0.4s 0.7s;
    font-family   : 'Akronim', serif;
}

.greeenco._active .greeenco__title::before {
    top    : 93%;
    opacity: 1;
}

@media (max-width:576px) {
    .greeenco__title {
        @include adapt-value("margin-bottom", 20, 10, 0);
    }
}

.greeenco_sub-title {

    /* @include adapt-value(" font-size ", 48, 30, 0);
    top        : -50px;
    position   : relative;
    line-height: 0;
    transition : 0.7s 0.3s;
    z-index    : 0;
    opacity    : 0;
    font-family: 'Akronim', serif; */

}

@media(min-width:1341px) {

    /* (min-width:577px) and  */

    .greeenco_sub-title {
        position: relative;
        @include adapt-value(" left ", 10, 530, 0);

    }

}

@media(max-width:1340px) {

    /* (min-width:577px) and  */

    .greeenco_sub-title {
        text-align: center;
    }

}

.greeenco__plant {
    transition: 0.7s 0.3s;
    position  : absolute;
    bottom    : -100%;
    right     : 29%;

    width         : 29.90%;
    padding-bottom: 38.50%;
}

.greeenco__plant img {

    position: absolute;

    width : 100%;
    height: 100%;

}

//////////////////////leftMenu

.greeenco__menu {
    position  : fixed;
    top       : 0;
    z-index   : 10;
    width     : 100vw;
    left      : 0vw;
    height    : 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity   : 0;
    visibility: hidden;
    transition: 0.3s;
}




.greeenco__menu._active {
    visibility: visible;
    opacity   : 1;
}

.menu-greenco__list {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 25%;
    text-align      : center;
    background-color: #3f865b;
    padding         : 25px 0;
    min-height      : 100vh;
    transform       : translateX(-100vw);
    transition      : 0.4s;
}

@media (max-width:62.5em) {
    .menu-greenco__list {
        width: 40%;
    }
}

@media (max-width:50.5em) {
    .menu-greenco__list {
        width: 45%;
    }
}

.greeenco__menu._active .menu-greenco__list {
    transform: translateX(0vw);

}

.menu-greenco__list>li {
    padding: 20px 0;
}

.menu-greenco__link {
    color  : white;
    display: inline-block;
    padding: 0px 20px;
    @include adapt-value('font-size', 40, 16, 0);
    text-transform: uppercase;
    font-family   : "Baloo 2", "Helvetica Neue", Helvetica, sans-serif;

}




////////////////////////////////////////////

.page {
    position: relative;
    flex    : 1 1 100%;

}


















.potted-dop {
    @include adapt-value('min-height', 277, 0, 0);
    width           : 100%;
    position        : relative;
    z-index         : 1;
    background-color: #Ffffff;
    padding-bottom  : 3px;

    @include adapt-value('margin-top', -285, 0, 0);


}

@media (max-width:767px) {
    .potted-dop {
        min-height: 40px;

    }
}


.potted {
    @include adapt-value('padding-top', 141, 10, 0);
    position        : relative;
    z-index         : 1;
    background-color: #4A4A4A;
}

.potted__container {
    position: relative;
}


.potted__body {}

.potted__items {}

@media (min-width:577px) {
    .potted__items {
        display   : flex;
        min-height: 0px;
    }
}


.potted__item {
    flex: 0 0 47.76119%;
}



.potted__item_content {
    /* align-self: center; */
    flex-grow: 1;
    @include adapt-value('padding-top', 53, 25, 0);
    @include adapt-value('padding-bottom', 404, 25, 0);
    @include adapt-value('padding-left', 138, 10, 0);
    @include adapt-value('padding-right', 125, 10, 0);

}

.potted__item_button {
    @include adapt-value('padding-top', 133, 25, 0);
    @include adapt-value('padding-bottom', 0, 0, 0);

}

@media (max-width:576px) {
    .potted__item_button {
        @include adapt-value('padding-top', 53, 20, 0);
        @include adapt-value('padding-bottom', 53, 20, 0);
        @include adapt-value('padding-left', 138, 10, 0);
        @include adapt-value('padding-right', 125, 10, 0);

    }
}


.potted__item_button .link {

    text-align: center;
    box-shadow: 0px 0px 10px 0px gray inset;

    transition: 0.3s;




}

@media (min-width:577px) {
    .potted__item_button .link {
        box-shadow: 0px 10px 10px 0px gray, 0px 0px 0px 0px gray inset;

        transition: 0.3s;
        position  : relative;
        transform : translateY(-10px);
        box-shadow: 0px 10px 10px 0px gray;
    }

    .potted__item_button .link:hover {
        box-shadow: 0px 10px 10px 0px gray, 0px 0px 10px 5px gray inset;

    }

    .potted__item_button .link:active {
        transform : translateY(0px);
        box-shadow: 0px 0px 0px 0px gray;
    }
}



.potted__item_button .link span {
    transition: 0.5s;
    display   : inline-block;

    position: absolute;
    top     : 50%;

    @include adapt-value("right", -115, -50, 0);
    width: 70px;

    height   : 100%;
    transform: translate(0, -50%);

}

.potted__item_button .link span::before {
    content   : "";
    position  : absolute;
    height    : 100%;
    width     : 100%;
    left      : -100%;
    top       : 0;
    transition: 0.3;
}

.potted__item_button .link span::after {
    content            : "";
    width              : 100%;
    position           : absolute;
    top                : 0;
    left               : 0;
    height             : 100%;
    background-image   : url("../../img/Elements/Arrow.png");
    background-size    : 100%;
    transform          : translateX(0%);
    background-repeat  : no-repeat;
    background-position: center;
    transition         : 0.3s;
}




@keyframes leftRight {

    2% {
        transform: translateX(-100%);




    }

    4% {
        transform: translateX(0%);




    }

    6% {
        transform: translateX(-100%);




    }

    8% {
        transform: translateX(0%);


    }
}

@keyframes leftRightMini {

    2% {
        transform: translateX(-25%);




    }

    4% {
        transform: translateX(0%);




    }

    6% {
        transform: translateX(-25%);




    }

    8% {
        transform: translateX(0%);


    }
}

@media (min-width:769px) {



    .potted__item_button .link span::after {
        transition: 0.3s;

        animation: leftRight 35s infinite linear;

    }
}

@media (max-width:768px) {

    .potted__item_button .link span::after {

        animation: leftRightMini 35s infinite linear;
    }
}







@media (min-width:577px) and (max-width:756px) {
    .potted__item_button .link span::after {
        background-size: 50%;

    }
}

@media (min-width:757px) and (max-width:1100px) {
    .potted__item_button .link span::after {
        background-size: 75%;

    }
}



@media (max-width:576px) {
    .potted__item_button .link span {
        display: none;
    }
}



@media (max-width:576px) {
    .potted__item_button {
        text-align: center;
    }

    .potted__item_button .link {
        display: inline-block;
    }
}

.potted__item_button .link a {

    border        : 3px solid #7A797A;
    font-family   : "Helvetica Neue", Helvetica, sans-serif;
    display       : block;
    text-transform: uppercase;
    font-weight   : 400;
    @include adapt-value('padding', 10, 10, 0);
    @include adapt-value('letter-spacing', 8, 8, 0);
    @include adapt-value('font-size', 36, 7, 0);

    line-height: calc(65.04/36);
    color      : #7A797A;
}





@media (max-width:576px) {
    .potted__item_button .link a {
        @include adapt-value('font-size', 36, 17, 0);



    }
}

.item-potted {
    min-width : 0;
    min-height: 0;
}

.item-potted__body {
    overflow: hidden;

}

.swiper__images {
    position: relative;
    z-index : 3;
}

.item-potted__image {
    position      : relative;
    z-index       : 4;
    padding-bottom: 145.160%;
    width         : 100%;
}

@media (max-width:576px) {
    .item-potted__image {
        display: none;
    }
}

.item-potted__image img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.potted-item__swiper.swiper-container {

    /*   max-width: 100%; */
    padding-bottom: 5px;
    width         : 100%;

}

/* @media (max-width:576px) {
    .potted-item__swiper.swiper-container {
        width: 100%;

    }

} */



/* @media (min-width:768px) and (max-width:900px) {
    .potted-item__swiper.swiper-container {
        width: 300px;
      
      } 
} */

.potted-item__swiper-wrapper {
    /*  display  : flex;
    max-width: 100%; */

}

.potted__item.item-potted.potted__item_content .item-potted__body .potted-item__swiper-slide.swiper-slide {
    /* width     : 25%;*/
    min-height: 100px;
}

.title {

    font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color      : white;
    @include adapt-value(" font-size  ", 81, 20, 0);

    @include adapt-value("letter-spacing", 19, 5, 0);
    transform  : scale(0.5) translate(0, -100%);
    position   : relative;
    transition : 0.5s;
    opacity    : 0.0;
    line-height: calc(100/81);
    font-weight: 400;
}

.potted__item_content._active .title {
    transform: translate(0, -0%) scale(1);
    opacity  : 1;
}


.text {
    color: white;
    @include adapt-value(" font-size  ", 24, 14, 0);
    line-height   : calc(35/24);
    text-align    : justify;
    text-transform: lowercase;
    font-family   : "Mukta Vaani", "Helvetica Neue", Helvetica, sans-serif;
    margin        : 31px 0;
    transform     : translate(100%, 0%);
    opacity       : 0;
    transition    : 0.4s;
}

.potted__item_content._active .text {
    transform: translate(0, -0%);
    opacity  : 1;
}


.potted-item__swiper-scrollbar {
    width           : 100%;
    height          : 3px;
    background-color: gray;
    position        : relative;
}

.potted-item__swiper-scrollbar .page__drag-scroll {
    position        : absolute;
    height          : 10px;
    cursor          : pointer;
    top             : -100%;
    background-color: white;
}



.potted-item__swiper-button-prev {
    position  : absolute;
    top       : 40%;
    transform : translateY(-50%);
    left      : -2.5%;
    height    : 66.19px;
    width     : 32px;
    cursor    : pointer;
    transition: 0.3s;
}

.potted-item__swiper-button-next {
    transition: 0.3s;
    cursor    : pointer;
    position  : absolute;
    top       : 40%;
    transform : translateY(-50%);
    right     : 2%;
    height    : 66.19px;
    width     : 32px;
}

@media (max-width:1480px) {
    .potted-item__swiper-button-next {
        display: none;
    }

    .potted-item__swiper-button-prev {

        display: none;
    }

}

.potted-item__swiper-button-next::before,
.potted-item__swiper-button-next::after,
.potted-item__swiper-button-prev::before,
.potted-item__swiper-button-prev::after {
    content   : "";
    transition: inherit;
    height    : 30px;
    width     : 5px;


    background-color: white;
}

@media (min-width:125em) {

    .potted-item__swiper-button-next::before,
    .potted-item__swiper-button-next::after,
    .potted-item__swiper-button-prev::before,
    .potted-item__swiper-button-prev::after {
        height: 30px;
        width : 6.0px;
    }
}

.potted-item__swiper-button-next::after {
    position : absolute;
    top      : 64%;
    left     : 50%;
    transform: translate(-50%, -50%) rotate(45deg);



}

.potted-item__swiper-button-next::before {
    position: absolute;
    top     : 0;
    left    : 0;

    top      : 36%;
    left     : 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

.potted-item__swiper-button-prev::after {
    position : absolute;
    top      : 64%;
    left     : 50%;
    transform: translate(-50%, -50%) rotate(-45deg);



}

.potted-item__swiper-button-prev::before {
    position: absolute;
    top     : 0;
    left    : 0;

    top      : 36%;
    left     : 50%;
    transform: translate(-50%, -50%) rotate(45deg);

}

.swiper-button-disabled::after,
.swiper-button-disabled::before {
    /* opacity         : 0.5; */
    background-color: #797878;
}

.sotial-sites__item i {
    color: red;
}

.sotial-sites__item i::before {
    color: red;
}

.sotial-sites {
    position : absolute;
    left     : 2%;
    top      : 35%;
    transform: translateY(-50%);
    z-index  : 1;
}

@media (max-width:99.9375em) {
    .sotial-sites {
        display: none;
    }
}

.sotial-sites__body {}

.sotial-sites__items {
    @include adapt-value('margin-top', -10.5, -14, 0);
    @include adapt-value('margin-bottom', -10.5, -14, 0);

}

.sotial-sites__item {
    position         : relative;
    transform        : translateX(-50vw);
    /*     transition: left 1.0s;
 */
    @include adapt-value('padding-top', 10.5, 14, 0);
    @include adapt-value('padding-bottom', 10.5, 14, 0);
}

.sotial-sites._active .sotial-sites__item {
    transform: translateX(0vw);


}

.sotial-sites__item {
    @for $var from 1 to 4 {
        $delay: $var * 0.15;

        &:nth-child(#{$var}) {
            @if $var==1 {
                transition: transform 0.8s ease 0s;
            }

            @else {
                transition: transform 0.8s ease #{$delay + s};
            }
        }
    }
}

.brands {}

.sotial-sites__item a {

    @include adapt-value('font-size', 18, 24, 0);
    color: #dadada;
}

.fa-brands {
    transition: 0.5s;
}

.fa-brands.fa-instagram:hover {
    color: #e10092;
}

.fa-brands.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-brands.fa-twitter:hover {
    color: #1D9BF0;
}




.vase-pot {}


.vase-pot__container {
    @include adapt-value('padding-top', 230, 0, 0);

    max-width: 1019px;
    overflow : hidden;

}

.vase-pot__body {}

@media (min-width:1055px) {
    .vase-pot__body {
        display        : flex;
        justify-content: center;
    }
}

.roses {}

@media (min-width:577px) {
    .roses {
        display: grid;
        @include adapt-value("grid-gap", 10, 7, 0);


        grid-template-columns: 57px 1fr;
        grid-auto-rows       : auto;

    }
}



























.roses__content {
    overflow: hidden;
}

@media (min-width:577px) {
    .roses__content {
        padding-top          : 15px;
        display              : grid;
        grid-template-columns: 2.1fr 2.9fr;
        gap                  : 10px; ///////////////////////////////////////////
        @include adapt-value('gap', 10, 8, 0);
    }
}

@media (max-width:576px) {
    .roses__content {
        @include adapt-value('padding-bottom', 25, 20, 0);
    }
}




.roses__body {
    text-align: center;
}

.roses__image {
    transition: 0.3s;

    width   : 100%;
    height  : 100%;
    position: relative;
    @include adapt-value('min-height', 420, 200, 0);

    @include adapt-value('margin-bottom', 24, 10, 0);
}

@media (min-width:577px) {
    .roses__image:hover {
        transform : translateY(-15px);
        box-shadow: 0px 10px 10px 0px hsla(0, 0%, 20%, 0.5);
    }

}

.roses__image img {
    max-width: 100%;
}

@media (min-width:577px) {




    .roses__image img {

        top       : 0;
        left      : 0;
        object-fit: cover;
        width     : 100%;
        height    : 100%;
        position  : absolute;
    }

    .roses__image:hover img {}


}

.roses {}

.roses__item {

    transition: 0.8s;
    position  : relative;
}

.roses__content .roses__item:nth-child(odd) {
    transform: translateX(-100vw);
}

.roses__content .roses__item:nth-child(even) {
    transform: translateX(100vw);
}

.roses__content .roses__item:nth-child(odd)._active,
.roses__content .roses__item:nth-child(even)._active {
    transform: translateX(0vw);
}



.roses__text {
    font-family: "Mukta Vaani", "Helvetica Neue", Helvetica, sans-serif;
    @include adapt-value('font-size', 24, 16, 0);
    line-height: calc(35/24);
    @include adapt-value('padding-left', 40, 5, 0);
    @include adapt-value('padding-right', 40, 5, 0);
}

@media (max-width:576px) {
    .roses__item:not(:last-child) {

        @include adapt-value('margin-bottom', 25, 20, 0);
    }


}





.roses__item_rose {
    align-self: center;
    @include adapt-value('padding-top', 21, 10, 0);
    @include adapt-value('padding-bottom', 21, 10, 0);
    position  : relative;
    left      : -100%;
    transition: 0.5s;
    opacity   : 0;
    transform : scale(0.0);


    span {
        writing-mode    : vertical-rl;
        text-orientation: upright;
        font-family     : 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
        @include adapt-value('font-size', 48, 20, 0);
        line-height   : calc(55.34/48);
        letter-spacing: 11px;
        color         : #7a797a;
    }

}

.roses__item_rose._active {
    left     : -0;
    opacity  : 1;
    transform: scale(1);

}

@media (max-width:576px) {
    .roses__item_rose {
        display: none;
    }
}


.potted-dop_double {
    margin: 0;
    @include adapt-value('min-height', 0, 0, 0);
    @include adapt-value('padding-bottom', 177, 25, 0);


}





.potted-dop_double::before {
    content : "";
    position: absolute;
    transition: 0.5s;
    transform: translateY(100%);

    bottom  : 0;
    z-index : 2;
    left    : 5%;
    @include adapt-value("height", 278, 139, 0);
    @include adapt-value("width", 303.3, 127.88, 0);
    background: url("../../img/Elements/plant-2.png") 0 0/100% 100% no-repeat;

}

.potted-dop_double._active::before {
    transform: translateY(0%);

}

@media (max-width:700px) {
    .potted-dop_double::before {

        background: url("../../img/Elements/plant-2.png") 50% 100%/90% no-repeat;

    }
}

@media (max-width:576px) {


    .potted-dop_double::before {

        display: none;
    }
}









.potted-dop_double .potted__item_button {}

.potted__item_button {
    margin: 0;
    @include adapt-value('padding-top', 115, 25, 0);
}