@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koulen:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Mega:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koulen:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Oxygen:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* подключение_нулевых стилей */
/* Шрифты */
@font-face {
  font-family: "Akronim";
  src: url(../fonts/Akronim/Akronim-Regular.ttf);
}
/* Шрифты_конец */
/* Шаблоны */
body {
  min-width: 280px;
  font-family: "Lexend Mega", "Helvetica Neue", Helvetica, sans-serif;
}

body._close {
  overflow: hidden;
}

html {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: calc(1340px + 40px);
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeenco {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greeenco._active .greeenco__title {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.greeenco._active .greeenco__plant {
  /* transform: translateX(-50%);*/
  bottom: 0%;
}

.greeenco__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* @media (max-width:1800px) {
    .potted-item__swiper.greeenco__container {
width: 100%;

    }

} */
.greeenco__header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(20px + (52 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(20px + (52 * ((100vw - 280px) / 1640)));
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
}
@media (min-width: 1340px) {
  .greeenco__header {
    min-height: calc(50px + (20 * ((100vw - 280px) / 1640)));
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__burger {
  cursor: pointer;
  position: relative;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: -10%;
  -webkit-transition: 0.4s 0.6s;
  transition: 0.4s 0.6s;
  opacity: 0;
}

.greeenco._active .menu__burger {
  opacity: 1;
  left: 0%;
}

.menu__burger span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #B7BBB2;
  margin: 2.5px;
}

.menu__home {
  cursor: pointer;
  right: -20%;
  position: relative;
  -webkit-transition: 0.4s 0.6s;
  transition: 0.4s 0.6s;
  opacity: 0;
}

.greeenco._active .menu__home {
  opacity: 1;
  right: 0%;
}

.greeenco__title {
  text-transform: uppercase;
  color: #7A797A;
  font-family: "Baloo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  font-size: calc(50px + (210 * ((100vw - 280px) / 1640)));
  position: relative;
  text-align: center;
  line-height: 1;
  opacity: 0.5;
  z-index: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s 0.1s;
  transition: 0.5s 0.1s;
}

.greeenco__title::before {
  content: "Nature’s souvenir store";
  position: absolute;
  top: 75%;
  opacity: 0;
  -webkit-transform: translate();
          transform: translate();
   font-size : calc(30px + (18 * ((100vw - 280px) / 1640)));
  color: #000000;
  text-transform: capitalize;
  font-weight: 400;
  -webkit-transition: 0.4s 0.7s;
  transition: 0.4s 0.7s;
  font-family: "Akronim", serif;
}

.greeenco._active .greeenco__title::before {
  top: 93%;
  opacity: 1;
}

@media (max-width: 576px) {
  .greeenco__title {
    margin-bottom: calc(10px + (10 * ((100vw - 280px) / 1640)));
  }
}
.greeenco_sub-title {
  /* @include adapt-value(" font-size ", 48, 30, 0);
  top        : -50px;
  position   : relative;
  line-height: 0;
  transition : 0.7s 0.3s;
  z-index    : 0;
  opacity    : 0;
  font-family: 'Akronim', serif; */
}

@media (min-width: 1341px) {
  /* (min-width:577px) and  */
  .greeenco_sub-title {
    position: relative;
     left : calc(530px + (-520 * ((100vw - 280px) / 1640)));
  }
}
@media (max-width: 1340px) {
  /* (min-width:577px) and  */
  .greeenco_sub-title {
    text-align: center;
  }
}
.greeenco__plant {
  -webkit-transition: 0.7s 0.3s;
  transition: 0.7s 0.3s;
  position: absolute;
  bottom: -100%;
  right: 29%;
  width: 29.9%;
  padding-bottom: 38.5%;
}

.greeenco__plant img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.greeenco__menu {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  left: 0vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.greeenco__menu._active {
  visibility: visible;
  opacity: 1;
}

.menu-greenco__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  text-align: center;
  background-color: #3f865b;
  padding: 25px 0;
  min-height: 100vh;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 62.5em) {
  .menu-greenco__list {
    width: 40%;
  }
}
@media (max-width: 50.5em) {
  .menu-greenco__list {
    width: 45%;
  }
}
.greeenco__menu._active .menu-greenco__list {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.menu-greenco__list > li {
  padding: 20px 0;
}

.menu-greenco__link {
  color: white;
  display: inline-block;
  padding: 0px 20px;
  font-size: calc(16px + (24 * ((100vw - 280px) / 1640)));
  text-transform: uppercase;
  font-family: "Baloo 2", "Helvetica Neue", Helvetica, sans-serif;
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.potted-dop {
  min-height: calc(0px + (277 * ((100vw - 280px) / 1640)));
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #Ffffff;
  padding-bottom: 3px;
  margin-top: calc(0px + (-285 * ((100vw - 280px) / 1640)));
}

@media (max-width: 650px) {
  .potted .potted-dop {
    display: none;
  }
}
@media (max-width: 767px) {
  .potted-dop {
    min-height: 40px;
  }
}
.potted {
  padding-top: calc(10px + (131 * ((100vw - 280px) / 1640)));
  position: relative;
  z-index: 1;
  background-color: #4A4A4A;
}

.potted__container {
  position: relative;
}

@media (min-width: 577px) {
  .potted__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 0px;
  }
}
.potted__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.76119%;
          flex: 0 0 47.76119%;
}

.potted__item_content {
  /* align-self: center; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: calc(25px + (28 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(25px + (379 * ((100vw - 280px) / 1640)));
  padding-left: calc(10px + (128 * ((100vw - 280px) / 1640)));
  padding-right: calc(10px + (115 * ((100vw - 280px) / 1640)));
}

.potted__item_button {
  padding-top: calc(25px + (108 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(0px + (0 * ((100vw - 280px) / 1640)));
}

@media (max-width: 576px) {
  .potted__item_button {
    padding-top: calc(20px + (33 * ((100vw - 280px) / 1640)));
    padding-bottom: calc(20px + (33 * ((100vw - 280px) / 1640)));
    padding-left: calc(10px + (128 * ((100vw - 280px) / 1640)));
    padding-right: calc(10px + (115 * ((100vw - 280px) / 1640)));
  }
}
.potted__item_button .link {
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px gray inset;
          box-shadow: 0px 0px 10px 0px gray inset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 577px) {
  .potted__item_button .link {
    -webkit-box-shadow: 0px 10px 10px 0px gray, 0px 0px 0px 0px gray inset;
            box-shadow: 0px 10px 10px 0px gray, 0px 0px 0px 0px gray inset;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0px 10px 10px 0px gray;
            box-shadow: 0px 10px 10px 0px gray;
  }

  .potted__item_button .link:hover {
    -webkit-box-shadow: 0px 10px 10px 0px gray, 0px 0px 10px 5px gray inset;
            box-shadow: 0px 10px 10px 0px gray, 0px 0px 10px 5px gray inset;
  }

  .potted__item_button .link:active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0px 0px 0px 0px gray;
            box-shadow: 0px 0px 0px 0px gray;
  }
}
.potted__item_button .link span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: calc(-50px + (-65 * ((100vw - 280px) / 1640)));
  width: 70px;
  height: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.potted__item_button .link span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  -webkit-transition: 0.3;
  transition: 0.3;
}

.potted__item_button .link span::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("../../img/Elements/Arrow.png");
  background-size: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes leftRight {
  2% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  6% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  8% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes leftRight {
  2% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  6% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  8% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes leftRightMini {
  2% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  6% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  8% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes leftRightMini {
  2% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  6% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  8% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media (min-width: 769px) {
  .potted__item_button .link span::after {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: leftRight 35s infinite linear;
            animation: leftRight 35s infinite linear;
  }
}
@media (max-width: 768px) {
  .potted__item_button .link span::after {
    -webkit-animation: leftRightMini 35s infinite linear;
            animation: leftRightMini 35s infinite linear;
  }
}
@media (min-width: 577px) and (max-width: 756px) {
  .potted__item_button .link span::after {
    background-size: 50%;
  }
}
@media (min-width: 757px) and (max-width: 1100px) {
  .potted__item_button .link span::after {
    background-size: 75%;
  }
}
@media (max-width: 576px) {
  .potted__item_button .link span {
    display: none;
  }
}
@media (max-width: 576px) {
  .potted__item_button {
    text-align: center;
  }

  .potted__item_button .link {
    display: inline-block;
  }
}
.potted__item_button .link a {
  border: 3px solid #7A797A;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  padding: calc(10px + (0 * ((100vw - 280px) / 1640)));
  letter-spacing: calc(8px + (0 * ((100vw - 280px) / 1640)));
  font-size: calc(7px + (29 * ((100vw - 280px) / 1640)));
  line-height: 1.8066666667;
  color: #7A797A;
}

@media (max-width: 576px) {
  .potted__item_button .link a {
    font-size: calc(17px + (19 * ((100vw - 280px) / 1640)));
  }
}
.item-potted {
  min-width: 0;
  min-height: 0;
}

.item-potted__body {
  overflow: hidden;
}

.swiper__images {
  position: relative;
  z-index: 3;
}

.item-potted__image {
  position: relative;
  z-index: 4;
  padding-bottom: 145.16%;
  width: 100%;
}

@media (max-width: 576px) {
  .item-potted__image {
    display: none;
  }
}
.item-potted__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.potted-item__swiper.swiper-container {
  /*   max-width: 100%; */
  padding-bottom: 5px;
  width: 100%;
}

/* @media (max-width:576px) {
    .potted-item__swiper.swiper-container {
        width: 100%;

    }

} */
/* @media (min-width:768px) and (max-width:900px) {
    .potted-item__swiper.swiper-container {
        width: 300px;

      } 
} */
.potted-item__swiper-wrapper {
  /*  display  : flex;
  max-width: 100%; */
}

.potted__item.item-potted.potted__item_content .item-potted__body .potted-item__swiper-slide.swiper-slide {
  /* width     : 25%;*/
  min-height: 100px;
}

.title {
  font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
   font-size  : calc(20px + (61 * ((100vw - 280px) / 1640)));
  letter-spacing: calc(5px + (14 * ((100vw - 280px) / 1640)));
  -webkit-transform: scale(0.5) translate(0, -100%);
          transform: scale(0.5) translate(0, -100%);
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  line-height: 1.2345679012;
  font-weight: 400;
}

.potted__item_content._active .title {
  -webkit-transform: translate(0, 0%) scale(1);
          transform: translate(0, 0%) scale(1);
  opacity: 1;
}

.text {
  color: white;
   font-size  : calc(14px + (10 * ((100vw - 280px) / 1640)));
  line-height: 1.4583333333;
  text-align: justify;
  text-transform: lowercase;
  font-family: "Mukta Vaani", "Helvetica Neue", Helvetica, sans-serif;
  margin: 31px 0;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.potted__item_content._active .text {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

.potted-item__swiper-scrollbar {
  width: 100%;
  height: 3px;
  background-color: gray;
  position: relative;
}

.potted-item__swiper-scrollbar .page__drag-scroll {
  position: absolute;
  height: 10px;
  cursor: pointer;
  top: -100%;
  background-color: white;
}

.potted-item__swiper-button-prev {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2.5%;
  height: 66.19px;
  width: 32px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.potted-item__swiper-button-next {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
  height: 66.19px;
  width: 32px;
}

@media (max-width: 1480px) {
  .potted-item__swiper-button-next {
    display: none;
  }

  .potted-item__swiper-button-prev {
    display: none;
  }
}
.potted-item__swiper-button-next::before,
.potted-item__swiper-button-next::after,
.potted-item__swiper-button-prev::before,
.potted-item__swiper-button-prev::after {
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  height: 30px;
  width: 5px;
  background-color: white;
}

@media (min-width: 125em) {
  .potted-item__swiper-button-next::before,
.potted-item__swiper-button-next::after,
.potted-item__swiper-button-prev::before,
.potted-item__swiper-button-prev::after {
    height: 30px;
    width: 6px;
  }
}
.potted-item__swiper-button-next::after {
  position: absolute;
  top: 64%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.potted-item__swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.potted-item__swiper-button-prev::after {
  position: absolute;
  top: 64%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.potted-item__swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.swiper-button-disabled::after,
.swiper-button-disabled::before {
  /* opacity         : 0.5; */
  background-color: #797878;
}

.sotial-sites__item i {
  color: red;
}

.sotial-sites__item i::before {
  color: red;
}

.sotial-sites {
  position: absolute;
  left: 2%;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

@media (max-width: 99.9375em) {
  .sotial-sites {
    display: none;
  }
}
.sotial-sites__items {
  margin-top: calc(-14px + (3.5 * ((100vw - 280px) / 1640)));
  margin-bottom: calc(-14px + (3.5 * ((100vw - 280px) / 1640)));
}

.sotial-sites__item {
  position: relative;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  /*     transition: left 1.0s;
  */
  padding-top: calc(14px + (-3.5 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(14px + (-3.5 * ((100vw - 280px) / 1640)));
}

.sotial-sites._active .sotial-sites__item {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.sotial-sites__item:nth-child(1) {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}
.sotial-sites__item:nth-child(2) {
  -webkit-transition: -webkit-transform 0.8s ease 0.3s;
  transition: -webkit-transform 0.8s ease 0.3s;
  transition: transform 0.8s ease 0.3s;
  transition: transform 0.8s ease 0.3s, -webkit-transform 0.8s ease 0.3s;
}
.sotial-sites__item:nth-child(3) {
  -webkit-transition: -webkit-transform 0.8s ease 0.45s;
  transition: -webkit-transform 0.8s ease 0.45s;
  transition: transform 0.8s ease 0.45s;
  transition: transform 0.8s ease 0.45s, -webkit-transform 0.8s ease 0.45s;
}

.sotial-sites__item a {
  font-size: calc(24px + (-6 * ((100vw - 280px) / 1640)));
  color: #dadada;
}

.fa-brands {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-brands.fa-instagram:hover {
  color: #e10092;
}

.fa-brands.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-brands.fa-twitter:hover {
  color: #1D9BF0;
}

.vase-pot__container {
  padding-top: calc(0px + (230 * ((100vw - 280px) / 1640)));
  max-width: 1019px;
  overflow: hidden;
}

@media (min-width: 1055px) {
  .vase-pot__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 577px) {
  .roses {
    display: -ms-grid;
    display: grid;
    grid-gap: calc(7px + (3 * ((100vw - 280px) / 1640)));
    -ms-grid-columns: 57px calc(7px + (3 * ((100vw - 280px) / 1640))) 1fr;
    grid-template-columns: 57px 1fr;
    grid-auto-rows: auto;
  }
}
.roses__content {
  padding: 5px;
  overflow: hidden;
}

@media (min-width: 577px) {
  .roses__content {
    padding-top: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2.1fr calc(8px + (2 * ((100vw - 280px) / 1640))) 2.9fr;
    grid-template-columns: 2.1fr 2.9fr;
    gap: 10px;
    gap: calc(8px + (2 * ((100vw - 280px) / 1640)));
  }
}
@media (max-width: 576px) {
  .roses__content {
    padding-bottom: calc(20px + (5 * ((100vw - 280px) / 1640)));
  }
}
.roses__body {
  text-align: center;
}

.roses__image {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: calc(200px + (220 * ((100vw - 280px) / 1640)));
  margin-bottom: calc(10px + (14 * ((100vw - 280px) / 1640)));
}

.roses__image img {
  max-width: 100%;
}

@media (min-width: 577px) {
  .roses__image {
    min-height: calc(200px + (220 * ((100vw - 280px) / 1640)));
  }

  .roses__image img {
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.roses__item {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s, -webkit-box-shadow 0.4s;
  transition: -webkit-transform 0.8s, -webkit-box-shadow 0.4s;
  transition: transform 0.8s, box-shadow 0.4s;
  transition: transform 0.8s, box-shadow 0.4s, -webkit-transform 0.8s, -webkit-box-shadow 0.4s;
  position: relative;
  -webkit-box-shadow: 0 0 5px 2px transparent;
          box-shadow: 0 0 5px 2px transparent;
}

.roses__content .roses__item:nth-child(odd) {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.roses__content .roses__item:nth-child(even) {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.roses__content .roses__item:nth-child(odd)._active,
.roses__content .roses__item:nth-child(even)._active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

@media (min-width: 577px) {
  .roses__item:hover {
    -webkit-box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.459);
            box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.459);
  }
}
.roses__text {
  font-family: "Mukta Vaani", "Helvetica Neue", Helvetica, sans-serif;
  font-size: calc(16px + (8 * ((100vw - 280px) / 1640)));
  line-height: 1.4583333333;
  padding-left: calc(5px + (35 * ((100vw - 280px) / 1640)));
  padding-right: calc(5px + (35 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(5px + (19 * ((100vw - 280px) / 1640)));
}

@media (max-width: 576px) {
  .roses__item:not(:last-child) {
    margin-bottom: calc(20px + (5 * ((100vw - 280px) / 1640)));
  }
}
.roses__item_rose {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: calc(10px + (11 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(10px + (11 * ((100vw - 280px) / 1640)));
  position: relative;
  left: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.roses__item_rose span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: calc(20px + (28 * ((100vw - 280px) / 1640)));
  line-height: 1.1529166667;
  letter-spacing: 11px;
  color: #7a797a;
}

.roses__item_rose._active {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 576px) {
  .roses__item_rose {
    display: none;
  }
}
.potted-dop_double {
  margin: 0;
  min-height: calc(0px + (0 * ((100vw - 280px) / 1640)));
  padding-bottom: calc(25px + (152 * ((100vw - 280px) / 1640)));
}

@media (max-width: 576px) {
  .potted-dop_double {
    padding-bottom: calc(25px + (0 * ((100vw - 280px) / 1640)));
  }
}
.potted-dop_double::before {
  content: "";
  position: absolute;
  -webkit-transition: 0.5s 1.2s;
  transition: 0.5s 1.2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  bottom: 0;
  z-index: 2;
  left: 5%;
  height: calc(139px + (139 * ((100vw - 280px) / 1640)));
  width: calc(127.88px + (175.42 * ((100vw - 280px) / 1640)));
  background: url("../../img/Elements/plant-2.png") 0 0/100% 100% no-repeat;
}

.potted-dop_double._active::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (max-width: 700px) {
  .potted-dop_double::before {
    background: url("../../img/Elements/plant-2.png") 50% 100%/90% no-repeat;
  }
}
@media (max-width: 576px) {
  .potted-dop_double::before {
    display: none;
  }
}
.potted-dop.potted-dop_double .potted__item_button {
  margin: 0;
  padding-top: calc(25px + (90 * ((100vw - 280px) / 1640)));
}

.rose-open__big {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0%;
  height: 100%;
  background-color: hsla(0deg, 0%, 15%, 0.562);
  -webkit-transition: 0.3s 0s;
  transition: 0.3s 0s;
  visibility: hidden;
  opacity: 0;
}

.rose-open__big._active {
  opacity: 1;
  visibility: visible;
}

.rose-open {
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0%;
  left: 0%;
  height: 100vh;
  -webkit-transition: 0.3s 0s;
  transition: 0.3s 0s;
  opacity: 0;
  visibility: hidden;
}

.rose-open._active {
  opacity: 1;
  visibility: visible;
}

.rose-open__body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 50px 10px;
}

.rose-open__content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  left: 0%;
  padding: 20px;
  padding: calc(20px + (30 * ((100vw - 280px) / 1640)));
  background-color: #dadada;
}

.rose-open._active .rose-open__content {
  -webkit-transform: perspective(600px) translate(0, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}

.rose-open__content span {
  position: absolute;
  top: calc(1px + (14 * ((100vw - 280px) / 1640)));
  right : calc(1px + (14 * ((100vw - 280px) / 1640)));
  cursor: pointer;
  height: calc(21px + (9 * ((100vw - 280px) / 1640)));
  width: calc(21px + (9 * ((100vw - 280px) / 1640)));
}

.rose-open__content span::before,
.rose-open__content span::after {
  content: "";
  position: absolute;
  height: 4px;
  height: calc(2px + (1 * ((100vw - 280px) / 1640)));
  width: 100%;
  background-color: #4A4A4A;
  top: 50%;
  left: 50%;
}

.rose-open__content span::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.rose-open__content span::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.rose-open__body .rose-open__content .roses__image {
  max-width: 100%;
  min-height: 100%;
}

.rose-open__body .rose-open__content .roses__image img {
  position: relative;
}

.rose-open__body .rose-open__content .roses__image:hover {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}